#content {
  background: black;
  color: white;
  padding: 10px 40px;
  height: 100%; }

#titlebar {
  color: white;
  padding: 10px; }

fieldset {
  width: 400px;
  padding: 10px; }

fieldset input {
  margin: 5px;
  padding: 4px; }

.back {
  position: absolute;
  left: -10px;
  width: 80px;
  height: 70px; }
  .back:hover button:not(:disabled) {
    -webkit-transform: translate(10px, 0);
    -webkit-transition: all 0.1s ease-out; }
  .back button {
    width: 50px;
    height: 50px;
    border: 2px solid #cccccc;
    border-radius: 25px;
    background: -webkit-gradient(linear, left top, left bottom, from(#232323), to(#323232));
    background: -moz-linear-gradient(top, #232323, #323232);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2');
    padding: 5px 10px;
    color: #eeeeee;
    font-size: 24px;
    -webkit-transform: translate(-10px, 0);
    -webkit-transition: all 0.2s ease-out; }
    .back button:active {
      background: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#232323));
      background: -moz-linear-gradient(top, #323232, #232323);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2'); }
    .back button:active {
      padding: 6px 9px 4px 11px; }
    .back button:disabled {
      opacity: 0.5; }

#titlebar {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(black));
  background: -moz-linear-gradient(top, #444444, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2'); }
  #titlebar h1 {
    padding-left: 60px; }

li {
  list-style: none;
  border: 1px solid #555555;
  background: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#232323));
  background: -moz-linear-gradient(top, #323232, #232323);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2'); }
  li:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#232323), to(#323232));
    background: -moz-linear-gradient(top, #232323, #323232);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2'); }
  li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  li.checked .icon .text::before {
    content: '\2713';
    font-size: 24px;
    color: #eeeeee; }
  li.checked .title {
    color: white; }
  li .row, li a {
    display: block;
    padding: 30px 30px; }
    li .row:active, li a:active {
      padding: 31px 29px 29px 31px; }
  li .icon {
    display: table-cell;
    position: relative;
    width: 40px; }
  li .title {
    color: #cccccc;
    display: table-cell;
    vertical-align: middle; }
