body {
  font-family: 'Muli', 'Open Sans', Arial, sans-serif;
  background: black; }

fieldset {
  width: 400px;
  padding: 10px; }

fieldset input {
  margin: 5px;
  padding: 4px; }

button.back {
  border: 1px solid #666666;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#444444));
  background: -moz-linear-gradient(top, #777777, #444444);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2');
  padding: 5px 10px;
  color: white; }
  button.back:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#777777));
    background: -moz-linear-gradient(top, #444444, #777777);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2'); }
  button.back:active {
    padding: 6px 9px 4px 11px; }

#titlebar {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(black));
  background: -moz-linear-gradient(top, #444444, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2'); }
  #titlebar .back {
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: 5px; }
  #titlebar .text {
    font-size: 18px; }

li {
  list-style: none;
  border: 1px solid #cccccc;
  padding: 30px 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
  background: -moz-linear-gradient(top, white, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2'); }
  li:active {
    padding: 31px 29px 29px 31px; }
  li:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(white));
    background: -moz-linear-gradient(top, #eeeeee, white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2'); }
  li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  li.checked .icon .text::before {
    content: '\2713';
    font-size: 24px;
    color: #777777; }
  li.checked .title {
    color: black; }
  li .row {
    display: table-row; }
  li .icon {
    display: table-cell;
    position: relative;
    width: 40px; }
  li .title {
    color: #444444;
    display: table-cell;
    vertical-align: middle; }
