@import "./mixins.scss";

$liBorderRadius: 5px;
$liBorderColor: #555;

$liColor1: #323232;
$liColor2: #232323;
$liActiveColor1: #eee;
$liActiveColor2: #fff;
$liCheckMarkColor: #eee;
$liTextColor: #ccc;
$liCheckedTextColor: white;

$titleColor1: #444;
$titleColor2: black;

$buttonBorderRadius: 25px;
$buttonBorderColor: #ccc;
$buttonColor1: #232323;
$buttonColor2: #323232;
$buttonTextColor: #eee;


#content {
  background: black;
  color: white;
  padding: 10px 40px;
  height: 100%;
}

#titlebar {
  color: white;
  padding: 10px;
}

// See: http://stackoverflow.com/a/8706041/311207
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

fieldset {
  width: 400px;
  padding: 10px;
}

fieldset input {
  margin: 5px;
  padding: 4px;
}

.back {
  position: absolute;
  left: -10px;
  width: 80px;
  height: 70px;

  &:hover {
    button:not(:disabled) {
      -webkit-transform: translate(10px, 0);
      -webkit-transition: all 0.1s ease-out;
    }
  }

  button {
    width: 50px;
    height: 50px;
    border: 2px solid $buttonBorderColor;
    border-radius: $buttonBorderRadius;

    @include clickableGradient($buttonColor1, $buttonColor2);
    @include clickablePadding(5px, 10px);
    color: $buttonTextColor;
    font-size: 24px;

    -webkit-transform: translate(-10px, 0);
    -webkit-transition: all 0.2s ease-out;

    &:disabled {
      opacity: 0.5;
    }
  }
}

#titlebar {
  position: relative;
  @include gradient($titleColor1, $titleColor2);

  h1 {
    padding-left: 60px;
  }
}

li {
  list-style: none;
  border: 1px solid $liBorderColor;
  @include clickableGradient($liColor1, $liColor2);

  &:first-child {
    @include roundTop($liBorderRadius);
  }

  &:last-child {
    @include roundBottom($liBorderRadius);
  }

  &.checked {
    .icon .text::before {
      content: '\2713';  // checkmark
      font-size: 24px;
      color: $liCheckMarkColor;
    }

    .title {
      color: $liCheckedTextColor;
    }
  }

  .row, a {
    display: block;
    @include clickablePadding(30px, 30px);
  }

  .icon {
    display: table-cell;
    position: relative;
    width: 40px;
  }

  .title {
    color: $liTextColor;
    display: table-cell;
    vertical-align: middle;
  }
}