@mixin gradient($color1, $color2) {
  background: -webkit-gradient(linear, left top, left bottom, from($color1), to($color2));
  background: -moz-linear-gradient(top,  $color1,  $color2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2');
}

@mixin roundTop($val) {
  border-top-left-radius: $val;
  border-top-right-radius: $val;
}

@mixin roundBottom($val) {
  border-bottom-left-radius: $val;
    border-bottom-right-radius: $val;
}

@mixin clickableGradient($color1, $color2) {
  @include gradient($color1, $color2);

  &:active {
    @include gradient($color2, $color1);
  }
}

@mixin clickablePadding($v, $h, $depth: 1) {
  padding: $v $h;

  &:active {
    padding: $v + $depth $h - $depth $v - $depth $h + $depth;
  }
}

@mixin clickableBorder($color1, $color2, $width: 1px) {
  border-top: $width solid $color1;
  border-right: $width solid $color2;
  border-bottom: $width solid $color2;
  border-left: $width solid $color1;

  &:active {
    border-top: $width solid $color2;
    border-right: $width solid $color1;
    border-bottom: $width solid $color1;
    border-left: $width solid $color2;
  }
}

@mixin clickableMargin($v, $h, $depth: 1) {
  margin: $v $h;

  &:active {
    margin: $v + $depth $h - $depth $v - $depth $h + $depth;
  }
}

@mixin fullHeight($offset: 0) {
  position: absolute;
  top: $offset;
  bottom: $offset;
}